.sign-in {
    margin-top: 3rem;
    border: 3px solid black;
    width: 50%;
    min-height: 100%;
    background: #F5FFFA;
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
}

form {
    width: 80%;
    /* text-align: center; */
    margin: auto;
}