.nav {
    justify-content: space-around !important;
    font-size: 25px !important;
}

.nav-bg {
    background: linear-gradient(to top left, #ffc 0%, #cff 82%);
}

.nav-link {
    color: #000;
}

.nav-tabs .nav-link {
    border: 3px solid #a31f1f00;
}