.exercise-wrapper {
    font-size: 1.5rem;
    margin-top: 25px;
    display: flex !important;
    justify-content: center !important;
}

.exercise-input::placeholder {
    color: red !important;
}

.btn-group-exercise {
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-group-exercise:hover {
    background: #b8ad1e;
    border: 2px solid black;
    transition: all 1.5s;
}

.add-exercise {
    background-image: linear-gradient(to right, #314755 0%, #11d4e2 51%, #314755 100%)
}

.add-exercise {
    margin: 10px;
    /* padding: 15px 45px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.add-exercise:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.c-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 10px;
}

.c-dropdown:after {
    content: "\f078";
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1;
    right: 13px;
    top: 50%;
    margin-top: -5px;
    color: #767676;
}

.c-dropdown:before,
.c-dropdown:after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.c-dropdown__select {
    appearance: none;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #393939;
    padding: 12px 10px;
    background-color: #fff;
    width: 100%;
}

.c-dropdown__select:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}